.list-view .list-cell {
    -fx-control-inner-background: #161A1E;
    -fx-font-size: 16px;
    -fx-pref-height: 32px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: 400;
    -fx-background-radius: 10px;
}
.list-view .list-cell:selected {
    -fx-background-color: #003C45; /* Цвет выделенной строки */
}
.list-view {
    -fx-background-radius: 10px; /* Радиус скругления краев */
}