.list-view .list-cell {
    -fx-control-inner-background: #161A1E;
    -fx-font-size: 18px;
    -fx-pref-height: 32px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: 400;
    -fx-background-radius: 10px;
}
.list-view .list-cell:selected {
    -fx-background-color: #003C45;
    -fx-text-fill: white;

}
.list-view {
    -fx-background-radius: 10px;
}
.text-field {
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}